Package: jp.y59.yumeTwinkle.Winterboard.iPhone2x
Name: yumeTwinkle (WB/iPhone@2x)
Architecture: iphoneos-arm
Description: Lilely Yumekawaii Theme for Winterboard / iPhone ~4.7inch.
Maintainer: Yamada Yuta <yumeTwinkle@alias.y59.jp>
Author: Yamada Yuta <yumeTwinkle@alias.y59.jp>
Depends: winterboard, com.codethemed.iconbundles
Section: Themes
Version: 0.2.1
