Package: jp.y59.yumeTwinkle.Winterboard.iPad
Name: yumeTwinkle (Winterboard / iPad)
Architecture: iphoneos-arm
Description: Lilely Yumekawaii Cute Theme(?) for Winterboard/iPad.
Maintainer: Yamada Yuta <yumeTwinkle@alias.y59.jp>
Author: Yamada Yuta <yumeTwinkle@alias.y59.jp>
Depends: winterboard, com.codethemed.iconbundles
Section: Themes
Version: 0.1
